.NavBar-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* assumes you only want one row */
}

.NavBar-logo {
  height: 8vh;
  width: 6vw;
}

.NavBar-linkContainer {
  margin-left: 0.25vw;
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavBar-link,
.NavBar-link:visited {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  text-align: center;
  margin: 0 2vw;
  justify-content: center;
}

.NavBar-link:hover {
  opacity: 1;
  /* transform: scale(1.03); */
  transition: all 0.3s ease;
}
